---
import Metadata from "components/SEO/Metadata.astro";
import Header from "components/Header/Header.astro";
import type { MetaInfo } from "types/metaInfo";

interface Props extends MetaInfo {
  range?: number;
}

const { title, description, image, keywords, range } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Metadata
      title={title}
      description={description}
      keywords={keywords}
      image={image}
    />

    <slot name="richResults" />

  </head>
  <body
    class="bg-white min-h-[100dvh] flex flex-col justify-between items-center"
  >
    <Header range={range} />

    <slot name="main" />

  </body>
</html>

<style is:global>
  body {
    background-image: url("../images/BackgroundRepository.png");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
  }

  * {
    font-family: "Inter", sans-serif;
  }
</style>